.product-page-container {
    margin-top: 60px;
    display: flex;
    justify-content: flex-start;

    .big-picture1 {
        background-color: #BBBBBB;
        width: 50%;
        margin-left: -24px;

        .product-page-title1 {
            display: flex;
            justify-content: center;
            margin: 200px;
            color: white;
            font-size: 85px;
        }

        .product-page-btn1 {
            display: flex;
            justify-content: center;
            bottom: 90px;
            margin-left: 250px;
            margin-right: 250px;
        }

    }

    #product-page-new-grid {
        margin-left: 25px;
        display: grid;
        grid-template-areas:
            "product0 product1 product2"
            "product3 product4 product5";
        gap: 10px;

        .product-card-image-container {
            position: relative;
            height: 230px;

            img {
                width: 95%;
                height: 95%;
                object-fit: fill;
            }
        }

        .product-card-category {

            font-size: 13px;
            font-weight: 500;
            color: #616365;

        }

        .product-card-title {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 0px;
        }

        .product-card-rating {
            color: #ff7373;
            font-size: 16px;

        }

        .product-card-price {

            font-size: 18px;
            font-weight: 500;
        }

        #product-0 {
            grid-area: product0;
        }

        #product-1 {
            grid-area: product1;
        }

        #product-2 {
            grid-area: product2;
        }

        #product-3 {
            grid-area: product3;
        }

        #product-4 {
            grid-area: product4;
        }

        #product-5 {
            grid-area: product5;
        }

        .product-page-card {



            .product-page-card-img {
                position: relative;
                height: 230px;

                img {
                    width: 95%;
                    height: 95%;
                    object-fit: fill;
                }

            }

        }



        .product-page-card-category {
            font-size: 13px;
            font-weight: 500;
            color: #616365;
            margin-bottom: 0px;
        }

        .product-page-card-title {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 0;
        }

        .product-page-card-rating {
            color: #ff7373;
            font-size: 16px;
            display: flex;
        }

        .product-page-card-price {
            margin-top: 9px;
            font-size: 18px;
            font-weight: 500;

        }
    }

}

.product-page-container2 {
    margin-top: 30px;
    display: flex;
    gap: 10px;

    .big-picture2 {
        background-color: #BBBBBB;
        width: 50%;
        margin-right: 0px;

        .product-page-title2 {
            display: flex;
            justify-content: center;
            margin: 200px;
            color: white;
            font-size: 85px;
        }

        .product-page-btn2 {
            display: flex;
            justify-content: center;
            bottom: 90px;
            margin-left: 250px;
            margin-right: 250px;
        }

    }

    #popular-products-grid {

        margin-left: 114px;

        display: grid;
        grid-template-areas:
            "product0 product1 product2"
            "product3 product4 product5";
        gap: 10px;

        .product-card-image-container {
            position: relative;
            height: 230px;

            img {
                width: 95%;
                height: 95%;
                object-fit: fill;
            }
        }

        .product-card-category {

            font-size: 13px;
            font-weight: 500;
            color: #616365;

        }

        .product-card-title {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 0px;
        }

        .product-card-rating {
            color: #ff7373;
            font-size: 16px;

        }

        .product-card-price {

            font-size: 18px;
            font-weight: 500;
        }

        #product-0 {
            grid-area: product0;
        }

        #product-1 {
            grid-area: product1;
        }

        #product-2 {
            grid-area: product2;
        }

        #product-3 {
            grid-area: product3;
        }

        #product-4 {
            grid-area: product4;
        }

        #product-5 {
            grid-area: product5;
        }

        .product-page-card2 {
            .product-page-card-img2 {
                position: relative;
                height: 230px;

                img {
                    width: 95%;
                    height: 95%;
                    object-fit: fill;
                }

            }

        }

        .product-page-card-category2 {
            font-size: 13px;
            font-weight: 500;
            color: #616365;
            margin-bottom: 0px;
        }

        .product-page-card-title2 {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 0;
        }

        .product-page-card-rating2 {
            color: #ff7373;
            font-size: 16px;
            display: flex;
        }

        .product-page-card-price2 {
            margin-top: 9px;
            font-size: 18px;
            font-weight: 500;
        }
    }
}

@media(max-width: $breakpoint-md) {
        .product-page-container {
            display: block;
    
            .big-picture1 {
                width: 100%;
                margin: 0;
                margin-bottom: 25px;
    
                .product-page-title1 {
                    margin: 0;
                    text-align: center;
                    font-size: 65px;
                    padding-top: 75px;
                }
    
                .product-page-btn1 {
                    margin-top: 150px;
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
    
            #product-page-new-grid {
                margin-left: 10px;
                display: grid;
                grid-template-areas:
                    "product0 product1"
                    "product2 product3"
                    "product4 product5";
                gap: 10px;
    
                .product-card-image-container {
                    padding-top: 50px;
    
                    img {
                        object-fit: contain;
                    }
                }
    
                .product-page-card {
                    .product-page-card-img {
                        padding-top: 50px;
    
                        img {
                            object-fit: contain;
                        }
                    }
                }
                
            }
            
        }
    
        .product-page-holder{
            position: relative;
            height: 1450px;
         
        .product-page-container2 {
            display: block;
    
            .big-picture2 {
                position: absolute;
                top: 0;
                width: 100%;
                margin: 0;
                margin-bottom: 25px;
        
                .product-page-title2 {
                    margin: 0;
                    text-align: center;
                    font-size: 65px;
                    padding-top: 75px;
                }
        
                .product-page-btn2 {
                    margin-top: 150px;
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
        
    
            #popular-products-grid {
                position: absolute;
                top: 400px;
                margin: 0;
                margin-left: 10px;
                display: grid;
                grid-template-areas:
                    "product0 product1"
                    "product2 product3"
                    "product4 product5";
                gap: 10px;
    
                .product-card-image-container {
                    
                    img {
                        object-fit: contain;
                    }
                }
    
                .product-page-card2 {
                    .product-page-card-img2 {
                        img {
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
   
}